<a class="text randomButton" href="#" target="_blank" {% if include.color %} style="background: {{ include.color }}"{% endif %}>{{ include.text | default: "Random Review" }}{% if include.icon %}&nbsp; {% include icon.html id=include.icon title=include.icon %}{% endif %}</a>

<script>
  document.querySelectorAll('.randomButton').forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault();
      var randomNum = Math.floor(Math.random() * {{ site.posts.size }}) + 1;
      var url = "https://flash-forward-reviews.github.io/day-[NUM]".replace("[NUM]", randomNum);
      window.open(url, "_self");
    });
  });
</script>