// Background colours
$backgroundColour: #000000 !default;
$codeBackgroundColour: #050505 !default;
$featureBackgroundColour: #050606 !default;
$accentColour: #fa407a !default;

// Text colours
$headingColour: #dbd1d4 !default;
$bodyColour: #c7b8bc !default;
$linkColour: #fa407a !default;
$hoverColour: #ff7fff !default;
$focusColour: #05bf85 !default;
$captionColour: #575253 !default;
$white: #000000 !default;

// Typography
$bodytype: (
  font-family: 'Space Mono, monospace',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: 'Space Mono, monospace',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Space Mono, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
